<<<<<<< HEAD
 body{
=======
body{
>>>>>>> 8db6d0448bbd5d2d81bc0cc77977aabce63d3dfe
     background-color:antiquewhite;
 }
 #stella{
    text-align: center;
    
}
#image{
    text-align: center;
}
#project{
    text-align: center;
    justify-content: center;
    font-size: medium;
<<<<<<< HEAD
}
=======
}
>>>>>>> 8db6d0448bbd5d2d81bc0cc77977aabce63d3dfe
